---
import MainLayout from "../layouts/MainLayout.astro";
import Intro from "../sections/Intro.astro";
import Features from "../sections/Features.astro";
import Banner from "@/sections/Banner.astro";
import Testimonial from "@/components/Testimonial.astro";
---

<MainLayout>
  <main>
    <Intro />
    <Features />
    <Banner />
  </main>
</MainLayout>
