---
import Button from "@/components/Button.astro";
import { Image } from "@astrojs/image/components";
import CTA from "../components/CTA.astro";
import Testimonial from "../components/Testimonial.astro";
---

<section class="banner-testimonial">
  <Image
    src="/images/bg-curve-desktop-light.svg"
    alt="background-curvy"
    height={449}
    width={1440}
    fit="cover"
    quality={80}
    format="avif"
    class="w-full [.darkmode_&]:hidden hidden sm:block"
  />
  <Image
    src="/images/bg-curve-mobile-light.svg"
    alt="background-curvy"
    height={141}
    width={375}
    fit="cover"
    quality={80}
    format="avif"
    class="w-full [.darkmode_&]:hidden sm:hidden"
  />
  <div
    class="banner-testimonial__wrapper bg-[hsl(250,60%,98%)] [.darkmode_&]:bg-inherit"
  >
    <div class="section-container | relative space-y-32 sm:space-y-48">
      <div class="banner-section__container |">
        <div>
          <Image
            src="/images/illustration-stay-productive-dark.png"
            alt="illustration-intro"
            height={534}
            width={720}
            fit="cover"
            quality={80}
            format="avif"
            class="mx-auto hidden [.darkmode_&]:block"
          />
          <Image
            src="/images/illustration-stay-productive.svg"
            alt="illustration-intro"
            height={534}
            width={720}
            fit="cover"
            quality={80}
            format="avif"
            class="mx-auto [.darkmode_&]:hidden"
          />
        </div>
        <div class="banner-section__content | space-y-4">
          <h2>Stay productive, wherever you are</h2>
          <p class="text-[12.5px] tracking-body sm:tracking-normal sm:text-300">
            Never let location be an issue when accessing your files. Fylo has
            you covered for all of your file storage needs.
          </p>
          <p class="text-[12.5px] tracking-body sm:tracking-normal sm:text-300">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
          </p>
          <Button
            as="a"
            text="See how Fylo works"
            icon={{
              name: "icon-arrow",
              side: "right",
            }}
            style="link-large"
          />
        </div>
      </div>
      <Testimonial />
      <CTA />
    </div>
  </div>
</section>
