---
import Button from "@/components/Button.astro";
import { Image } from "@astrojs/image/components";
---

<section class="intro | bg-primary-intro relative z-0">
  <div
    class="intro__container | section-container flow-root | space-y-7 sm:space-y-10"
  >
    <Image
      src="/images/illustration-intro.svg"
      alt="illustration-intro"
      height={840}
      width={1132}
      fit="cover"
      quality={80}
      format="avif"
      class="[.darkmode_&]:hidden mx-auto"
    />
    <Image
      src="/images/illustration-intro-dark.png"
      alt="illustration-intro"
      height={840}
      width={1132}
      fit="cover"
      quality={80}
      format="avif"
      class="hidden [.darkmode_&]:block mx-auto"
    />
    <div class="intro__content | text-center space-y-3 sm:space-y-8">
      <h2 class="h2 | mt-3 mb-6 sm:mt-8 mx-auto">
        All your files in one secure location, accessible anywhere.
      </h2>
      <p class="text-600 mx-auto">
        Fylo stores all your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends family, and
        co-workers.
      </p>
    </div>
    <Button class="mx-auto" as="button" text="Get Started" style="button" />
  </div>
  <div class="bg-primary-main z-10">
    <Image
      src="/images/bg-curve-desktop.svg"
      alt="background-curvy"
      height={114}
      width={1440}
      fit="cover"
      quality={80}
      format="avif"
      class="w-full absolute -z-10 bottom-0 hidden [.darkmode_&]:sm:block"
    />

    <Image
      src="/images/bg-curve-mobile.svg"
      alt="background-curvy"
      height={141}
      width={375}
      fit="cover"
      quality={80}
      format="avif"
      class="w-full absolute -z-10 bottom-0 hidden sm:hidden [.darkmode_&]:block"
    />
  </div>
</section>
